<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    {{!-- header --}}
    <header>
        <nav>
            <a class="nav" href="/">Home</a>
            {{#if loggedIn}}
            <a class="nav" href="/dashboard">Dashboard</a>
            <a class="nav" id="logout" href="/">Log Out</a>
            {{else}}
            <a class="nav" href="/login">Log In</a>
            <a class="nav" href="/signup">Sign Up</a>
            {{/if}}
        </nav>

        <div class="header-title">
            <h1>
                The Tech Blog
            </h1>
        </div>
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>